<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BotId" value="53742b3a-1f04-485c-878c-eca03005a462" />
    <add key="BotTenantId" value="b25036e3-de39-4fec-a4aa-bda41b870d38" />
    <add key="BotName" value="PharmacyBot" />
    <add key="BotTokenEndpoint" value="https://powerva.microsoft.com/api/botmanagement/v1/directline/directlinetoken" />
    <add key="EndConversationMessage" value="quit" />
	<add key="oAuthTokenEndpoint" value="https://login.microsoftonline.com/b25036e3-de39-4fec-a4aa-bda41b870d38/oauth2/v2.0/token" />
	<add key="appId" value="7ff9f93a-afea-4f33-bb82-564f23bf4c3a" />
	<add key="clientSecret" value="7K98Q~6N6fNyXZMkYTsKlEK~9tacs.9atjM1Qdpo" />
	<add key="dataverseEnvUrl" value="https://org9f5ef5ad.api.crm.dynamics.com" />
  </appSettings>
</configuration>